.detail-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .detail-page-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    div {
      padding: 0.1em;
    }
    .line-chart {
      margin: 1em 0;
    }
    button {
      margin-top: 1em;
    }
  }
}