.modal__content {
  padding: 2% 5%;
  border-radius: 1em;
  background-color: #fff;
  max-height: 50%;
  max-width: 30%;
  overflow-y: auto;
  table {
    width: 100%;
    overflow-y: auto;
    td {
      width: 50%;
      font-size: 2vmin;
    }
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 5%;
    button {
      white-space: nowrap;
      margin-left: 2%;
      max-width: 100%;
    }
  }
}
